<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>travel-website</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;500&family=Noto+Sans+TC:wght@300;400;500&family=Playfair+Display:wght@400;500&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/0d8602a34b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav>
    <div class="logo">
      <img
        src="https://lh3.googleusercontent.com/4HjyQbSd6p9UaeruTV5BT4eFvJasx_vStdeCpya5bi_PVlK569VFjD92W8J-27rQSIbnHNIz_JBE18QW2MnS4P-WPaWoPy5evpJE39GUfaCpn8G4d8DrFoaA8VSNPHvEWTtMceIEWw=w2400"
        alt="Adren-hug">
    </div>
    <div class="category-list">
      <a href="#city" class="category-item">CITY</a>
      <a href="#nature" class="category-item">NATURE</a>
      <a href="#kids" class="category-item">KIDS</a>
      <a href="#famous" class="category-item high-light">FAMOUS</a>
      <a href="#pets" class="category-item">PETS</a>
    </div>
    <div class="nav-icon-group">
      <div class="nav-icon search-icon"><i class="fas fa-search"></i></div>
      <div class="nav-icon"><i class="far fa-heart"></i></div>
      <div class="nav-icon"><i class="far fa-user"></i></div>
    </div>
  </nav>

  {{{body}}}

  <footer>
    <div class="web-map">
      <div class="map-item">
        <h3>About Us</h3>
        <ul>
          <li>公司簡介</li>
          <li>服務條款</li>
          <li>隱私權保護</li>
          <li>聯絡我們</li>
        </ul>
      </div>
      <div class="map-item">
        <h3>Costumer Care</h3>
        <ul>
          <li>會員中心</li>
          <li>訂單查詢</li>
          <li>線上客服</li>
        </ul>
      </div>
      <div class="map-item">
        <h3>Support</h3>
        <ul>
          <li>最新消息</li>
          <li>為你推薦</li>
          <li>常見問答</li>
          <li>語言/Language</li>
        </ul>
      </div>
      <div class="map-item">
        <h3>Follow Us</h3>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Line</li>
          <li>Youtube</li>
        </ul>
      </div>
    </div>
    <div class="credit-card">
      <div class="credit-card-icon">
        <img src="https://cdn-icons-png.flaticon.com/512/1/1863.png" alt="">
        <img src="https://cdn-icons-png.flaticon.com/512/39/39223.png" alt="">
        <img src="https://cdn-icons-png.flaticon.com/512/39/39119.png" alt="">
        <img src="https://cdn-icons-png.flaticon.com/512/39/39077.png" alt="">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968279.png" alt="">
      </div>
    </div>
  </footer>
  <script src="/javascripts/index.js"></script>
</body>
</html>