<main>
  <section class="side-part">
    <div class="side">
      <ul>- 推薦活動
        <li><a href="">知性之旅 - 校園暢遊1999元 </a></li>
        <li><a href="">文青專屬 - 台南三日3999元 </a></li>
      </ul>
      <ul>- 最新商品
        <li><a href="">都市夜景巡禮 - 2999起</a></li>
        <li><a href="">台中浮誇系美食 - 客製化8折優惠</a></li>
        <li><a href="">不夜城夜生活體驗 - 999調酒喝到飽</a></li>
      </ul>
    </div>
    <div class="side">
      <ul>- 推薦活動
        <li><a href="">失落秘境 - 眠月線 2599元 </a></li>
        <li><a href="">天使的眼淚 - 嘉明湖套裝行程</a></li>
      </ul>
      <ul>- 最新商品
        <li><a href="">粉色風暴 - 春日賞櫻計畫</a></li>
        <li><a href=""></a>療癒山谷 - 野溪溫泉的秘密 </li>
        <li><a href=""></a> 冬日必賞雪景 - 太平山三天兩夜 </li>
      </ul>
    </div>
    <div class="side">
      <ul>- 推薦活動
        <li><a href="">住在山裡面 - 豪華露營一泊三食 </a></li>
        <li><a href="">一起去跑跳 - 都市旁的青青草地 </a></li>
      </ul>
      <ul>- 最新商品
        <li><a href=""></a>吃飽飽好禦寒 - 親子餐廳餐卷6折起</li>
        <li><a href=""></a>連假好去處 - 中台灣親子三日遊</li>
        <li><a href=""></a>半天也能讓孩子放電 - 牧場體驗</li>
      </ul>
    </div>
    <div class="side">
      <ul>- 近期熱銷
        <li><a href="">冬天也能去海邊 - 恆春最美咖啡廳 </a></li>
        <li><a href="">有邊境牧羊犬的山中小屋 - 神禾民宿</a></li>
        <li><a href=""></a>清幽浪漫露營車體驗 - 橘舍三食 </li>
        <li><a href=""></a>離市區最近的綠地 - 大坑步道</li>
        <li><a href=""></a>南橫部落的秘密 - 台東海端</li>
      </ul>
    </div>
    <div class="side">
      <ul>- 推薦活動
        <li><a href=""></a>狗狗貓貓吃起來 - 寵物餐廳八折起</li>
        <li><a href=""></a>給毛孩最舒適的 - 寵物友善旅館優惠</li>
      </ul>
      <ul>- 最新商品
        <li><a href=""></a>帶著毛孩一起旅行 - 花東三天兩夜</li>
        <li><a href="">和狗狗一起做愛心 - 浪浪之家旅食</a></li>
        <li><a href=""></a>貓奴愛不釋手 - 貓咪咖啡廳優惠</li>
      </ul>
    </div>
  </section>
  <section class="main-carousel">
    <div class="carousel-inner">
      <div class="slide">
        <img
          src="https://lh3.googleusercontent.com/GXGKqEdvlA0jKPpcvVbmGJC072oyS_l0StyGIGsfrrLdfgJx7yD8PsEj2lmv6zfJEMT9TGPO8jqN2lYNrETzAe-6ZjgWKS0SyzPDjJ-r_cIYouwCERVynHp9ARCDCeCuqWnQMZGvBA=w2400"
          alt="">
      </div>
      <div class="slide">
        <img
          src="https://lh3.googleusercontent.com/Z6GKvP7qg6gCgmOxgJc_FEE80clLmxL1cTyIdE_O8AKOM4cDfj3odQF7AHOfXKuJNmkSXmksQRRY8uEcE_bnM1ltsji9gY5fPteAyOCvArbed8aRyu05R6loTEfCIRgEPSc91bnHsg=w2400"
          alt="">
      </div>
      <div class="slide">
        <img
          src="https://lh3.googleusercontent.com/cYx8_LAfT5jWc14PG8PjHoD4IfphJvlAFWaDc5Q8hWj8I11xkrWzT7DrImrexdei6eOPClOcajRoqGQvdROF-w7FBB4MireKCpi_IIPtK3T9udVCiFSi0mEu1z82o9LzqPvtL59mkQ=w2400"
          alt="">
      </div>
    </div>
    <button class="slide-left-btn"></button>
    <button class="slide-right-btn"></button>
    <div class="slide-dots">
    </div>
  </section>
  <section class="best-seller">
    <h2 class="title">MOST POPULAR</h2>
    <div class="picture-grid">
      <div class="grid-item">
        <div class="grid-item-text">
          <h4>苗栗</h4>
          <p>橘舍三食</p>
        </div>
        <img
          src="https://lh3.googleusercontent.com/3APogW-5XfMuLScOfGRmBUs7RFbUpAj21657M3jeTNgYnvXwh-qEQmU4L__xB4F2WjiA7xjdfSDIvDeioAGOZmXyfC8Ai_FaYrt5-5CJHI6wleOtzaNy9vlXDRQduZJHqOWqfdpTrA=w2400"
          alt="">
      </div>
      <div class="grid-item">
        <div class="grid-item-text">
          <h4>嘉義</h4>
          <p>神禾民宿</p>
        </div>

        <img
          src="https://lh3.googleusercontent.com/7Xzqyrcx23CzZSicEcceIAhNHHINFHMpbFtjWaNbQlWSWxE85Uu2-8Qh3QUoWlGFal9I_mND9uBQJA5SYpNIRreORChs0Mj_80Fku7vmXUyew16GTnHlwe6vOvGAGYKpIweI6KVoCA=w2400"
          alt="">
      </div>
      <div class="grid-item">
        <div class="grid-item-text">
          <h4>屏東</h4>
          <p>夏樹飲事</p>
        </div>

        <img
          src="https://lh3.googleusercontent.com/ny8JbtBr5au8st603WCmRxRtcn8-Swya7WZ-lc1OPwJHE8LJlRhdBrvVkPDoHyieS8qhs_LJv9F9mwSfJpWMys5x0hKf_mZJ6BxWixU1b9vGC_aZZJcU5r2mwzTBmAI8OzxgAn643w=w2400"
          alt="">
      </div>
      <div class="grid-item">
        <div class="grid-item-text">
          <h4>嘉義</h4>
          <p>眠月線</p>
        </div>

        <img
          src="https://lh3.googleusercontent.com/eaMQFU0Emg2Dl-2Zleaf8OvP4epv8q1jrYKtzoSmj_BjCC_g00oEQHK0FoNd_6IwF-mKymSURQynwE9ARMc58cBx-PEsuqtsTlAEl8hJWUqWI80hwp4meLbyO2TYnGFhrCuWsV4u2w=w2400"
          alt="">
      </div>

    </div>
  </section>
  <section class="travel-abroad">
    <h1 class="slogan">Ticket On Sale</h1>
    <div class="picture-row">
      <img
        src="https://lh3.googleusercontent.com/zqAtd2YB2i2m1dKqga1pLpD9aexN5_FN3MCyOLhNNymTDvB6KGcePIC0SnAOYregTGEms9xdJXjeSN6BGVKkfY-6lG3fzirSw2XGH6KYfqwi9JU5azaA_niBtkM8eOGCXQxmKos97g=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/U1o1wMqUxvLBUGg4sX5_nwWVQWQQF4h3RqE6vHm8YWIhTGGXeFE0Xm_fZUFNMysh3m3iNYE_4_Xt3gL0sQgysHaBBcLgtIpyCdU_Fl0CzjbK-avn92spbQ-nMUYIJIrxBCFF0b-mQw=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/J63VCmqJG_oYvYfV9UU6idgUZoqHAZBsnfBS1Jksck2RDcRbfumY-xnIZd5rKOZs5ivo7yOut34ypkaARwmxsGICHuUOqA8bvym0Ia8oF1PS2Fw19aOmF7ZblOqvTBBEdv_pmu3oPQ=w2400"
        alt="">
    </div>
  </section>
  <section class="cooperation">
    <div class="headline">
      <h2 class="title">BRAND COOPERATION</h2>
    </div>
    <div class="brand-grid">
      <img
        src="https://lh3.googleusercontent.com/ud0mqbPwCI3Q_aHouvFZq4nkiiECoITExuEtatztWZxWzqCNnXleHPop_Ls85mWBk37zfq_guEgu3_0EkS3fQH4yn8dAe8PcQpRBoy4rV2gPuOAqVdnhxF65keM7AOov43BenVsZsQ=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/5Z_IYQxXArl-JBsT2FuTisQa7lv4_Cc4fLVmHcJVVagPc7nhqsS0P1vLhzTw1gl5-Z5A7LSawM2abz0O1kvxtpxLYhoM5Kgc5yj8CkQ2HZPjmwDjaFHwPsnkLPFAbc9XC0-Gopl4IA=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/0qbfswpp4cNOeKkuMnZN5Zuyl10qc88LT4pcBYtK_DpzoV__6MMFViuDjnv-rQQtoeRukAH-DCNNN2zmcssA2M8zfvVxYfeoL5_PBloedvk6st2xo-BBp6wdiFSJR3GlSoW7VIdfeg=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/iQTELEub-Bd0ffeSvOcxCfK_DTcgq_fM4oiEBvY3jz7GZ4w94_Y05cNZZOfAk51Ce5sK3Lbiewm6IyoZnpTenZSfs0puFcBUCy5UM7dGorQGjE3WEgav3ulSYY1HtEM0ckgq_kuw8w=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/iv4eejxMfwTnt3rsMplZR5gA5UGM6aEOGNMg7qU9nEhqkj4xvP5ch-ornaL2dfACl7ez6dwI0iDTpGY627YP2IKgt_DyTVKTkCekL4ZCnPP7o9RyycWJ-Fk-GvkXY8_GKOZef46ehw=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/qFyUOZLGBmYmupNFEbpphE5EPlhiOgrBUkWzFIbBcgPSTyaRAUH3f42jjIHqj6rVfoz5GnWjx2vVXZIMb5JM16B1TNHxfNhIE0EVoHfVpUaOECQbmM8sc1_2p7ZwswQVI8vEkxpp8A=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/FVYu6ciZPWRnnNsybamGdT6KECGDKhMfUF_6bVvCkyYdX_kF7tmaE-GohXFu92pEBfUy8yMRKrHNCtuXfjf8yGzffncF4P6p5erRG1DK5ERfG4nqNgwpjH9jWjFxdA6tn3UPY8b6iQ=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/skNhcOyZibRfIROgnlGzCT523ri4zr4gJ-xcU6lkE-3394Y5gwrHC3f3ioJOpDGIjtRVZNqffk3Q4cB0wF9U9LLam1cLrTqYVsmnQUVjtAkumR-nxp8RAJ1dB2CRenPrlF3rvVto-Q=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/naCyyr_actqDHI_6I5V-MEuPKhy_0sRWcJ-9UD4zcUWDaBtC_2t4UuJlHKrMeXRzrvHADV7UXXbfSgLqYY-jqEG0uQ5To7H0SoKCbIYMEyjY2pZ2PTNf1XugxvjPDcby1RWsKlpKcw=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/oKGFHteP3m3lFF42VX2sfpiu81zqnVoNycl7NeiOlHo6yshJhHH7muPhNqMajh7MT8BwrpIXc_M7ZXoaY3oVsV2ifn-Er755GLqnJepdn5Inao1M0ZGpxElyFIm8PhZq7HbotGFpwQ=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/T4_Q7a_mLjmfYgHdVo5V1wsoIHB6LPExDDg6MbAgkpYMR7wnZEhS6uXqw4OUyKkw7L6zUkJUZBnSGkgA74f4menG4s0PH2Ww9ssytBFe6Jntmjzo0ZfFj3wIHWqKbwgl7PGyGAXKNQ=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/MmkXQeWa-zaXxtj43G98NdbDKnLZ181SvNoYYrPx7wRVHqsWfFeMgGi7M2U1Kk9563_oW6BTBzJSWggytE9Y3Ixk0JEXdzDkHICck2ICt6N-NTldJo0LD1V9-nVea7BhTNYkUH3xZw=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/szKmd6goDnyCKIJz7SPeRLC5_tWMsnvRpwn98G4BaGLhPrhubbzOUXF7MRJlap7pcoyUQSyNwMKB8aPD8eXR4pFiwY6H01CKnoeCK4h9Jk2o2AW3vOPSlXTawqrIMua1Icb71tA0sA=w2400"
        alt="">
      <img
        src="https://lh3.googleusercontent.com/_c-GeKmrrIrWyDSy1FQCCx0Kn7b2JAW5ABn9i_FZQ4rllxwKjoExnDfVcgg1ftjKDKOy7w1cDw2gnvS95UTIKOkIDuEc-nhE5PFCrxZwpOUe5J97e7Px7pV4iaBhBlqjRAR0nsRUiQ=w2400"
        alt="">
    </div>
  </section>
  <div class="subscribe-edm"></div>
  <button class="back-to-top"></button>
</main>